services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow-init:
    image: apache/airflow:2.7.1
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      _AIRFLOW_WWW_USER_USERNAME: admin
      _AIRFLOW_WWW_USER_PASSWORD: admin
      _AIRFLOW_WWW_USER_EMAIL: admin@example.com
      PG_HOST: postgres
      PG_PORT: 5432
      PG_DB: airflow
      PG_USER: airflow
      PG_PASSWORD: airflow

    volumes:
      - ../dags:/opt/airflow/dags   # maps C:\Users\Admin\Documents\airflow_dags\dags
      - ../extraction:/opt/airflow/extraction
    command: bash -c "airflow db init && airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com"

  airflow-webserver:
    image: apache/airflow:2.7.1
    depends_on:
      - airflow-init
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      PG_HOST: postgres
      PG_PORT: 5432
      PG_DB: airflow
      PG_USER: airflow
      PG_PASSWORD: airflow

    ports:
      - "8081:8080"
    volumes:
      - ../dags:/opt/airflow/dags
      - ../extraction:/opt/airflow/extraction
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.7.1
    depends_on:
      - airflow-webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      PG_HOST: postgres
      PG_PORT: 5432
      PG_DB: airflow
      PG_USER: airflow
      PG_PASSWORD: airflow

    volumes:
      - ../dags:/opt/airflow/dags
      - ../extraction:/opt/airflow/extraction
    command: scheduler

volumes:
  postgres_data:
